.container-fluid {
    background-color: #f8f9fa;
    padding: 20px;
}

h2 {
    color: #004aad;
}

.card {
    border: none;
    height: 450px;
    width: 100%;
    margin: 0 auto;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.list-group-item {
    font-size: 1.1rem;
}

.accordion-button {
    background-color: #004aad;
    color: white;
}

.accordion-body {
    padding: 15px;
}

.accordion {
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
