.lease-registration-container {
    background-image: url('./Leasing_Images/Lease-Calculator.jpg');
    background-size: 2600px;
    background-position: center;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 1; 
    color: rgb(0, 0, 0);
  }

  .lease-registration-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4); 
    z-index: -1;
  }
  
  h2 {
    color: #004aad;
  }
  
  .card {
    border: none;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .accordion-item {
    margin-bottom: 0;
  }
  
  .accordion-header {
    cursor: pointer;
  }
  
  .accordion-body {
    padding: 15px;
  }
  

  .accordion .accordion-item {
    margin: 0;
  }
  
  .accordion .accordion-header {
    padding: 10px 15px;
  }
  
  .accordion .accordion-body {
    padding: 10px 15px;
  }
  

  .accordion {
    margin: 0;
  }
  