.form-reg {
    background-image: url('ApexSignup.jpg');
    background-size: 1900px;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    z-index: 1; 
    color: rgb(0, 0, 0);
  }
  
  .form-reg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); 
    z-index: -1;
  }

  .mb-3 {
    position:initial;
    width: 70%;
  }