.nav-link.active {
    background-color: #004aad;
    color: white !important;
    border-radius: 20px
  }

.nav-link {
    color: #004aad;
    margin-left: 10px;
  }
  
  .nav-link.active {
    background-color: #004aad !important;
    color: white !important;
  }
  
  .nav-link:focus {
    box-shadow: none;
  }
  

  .nav-link:hover {
    color: #003399;
  }
  
  #pills-login-tab.active {
    background-color: #ffbd59 !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 20px
  }